.span-17.last
  %h2== About CIRCA
  %p
    %b References
    %ul#link
      %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed/20876817"} JTK:
      %em== "JTK_CYCLE: an efficient nonparametric algorithm for detectingrhythmiccomponents in genome-scale data sets."
      by Hughes ME, Hogenesch JB and Kornacker K (2010)
      %br
      %br
      %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed/16303799"} Lomb Scargle:
      %em== "Detecting periodic patterns in unevenly spaced gene expression timeseries using Lomb-Scargle periodograms."
      by Glynn EF, Chen J and Mushegian AR (2006)
      %br
      %br
      %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed/20876817"} DeLichtenberg:
      %em== "Comparison of computational methods for the identification of cell cycle-regulated genes."
      by de Lichtenberg U, Jensen LJ, Fausbøll A, Jensen TS, Bork P, Brunak S. (2005)
      %br
