.span-16.last
%h2== About CIRCA
%p
  This application visualizes and analyses microarray data. The data was collected every 1-4 hours for phases of up to 48 hours. The goal of the analyses is to be able to separate non-cyclic from cyclic probes.
  %br
  %br
  %b References
  %br
  = link_to "JTK_CYCLE: an efficient nonparametric algorithm for detecting rhythmic components in genome-scale data sets.", "http://www.ncbi.nlm.nih.gov/pubmed/20876817"
  %br
  lsklsjlfhdsjkfn dfhgkj dfhgkdfjghdg ighuidfhg idgfdgh kf