.span-16.last
%h2== CIRCA Help
%p
  Welcome on the CIRCA help page. Here we list a few examples that show how you can use CIRCA application.
  %br
  %br
  %b Example 1 - Searching for a specific Gen
  %br
  dskjksdfkjdjkdhkj
  %br
  %br
  %b Example 2 - Searching for samples with a significant JTK-value
  %br
  jkjdlfjd
  %br
  %br
  %b Example 3 - Picking a specific tissue
  %br
  kdjgkfjgfk
  %br
  %br
  %b Understanding the plot
  %br
  jdsjfihidhidhg
  %br
  %br
  %b Understanding the values
  %br
  klfjkcnbjkvnb dgduf hguf gh
  %br





