*.sql
.DS_Store
.Thumbs
.ruby-version
log/*
tmp/*
*~
.\#*
*.sqlite
*.sqlite3
*.db
*mysql.dmp*
db/sphinx
gems/**/*
config/database.yml
config/*sphinx.conf
seed_data/*
source_data/*
.bundle
._*
.Rhistory
.rbenv-version
config.ru
\#*
tmtags*
nohup*
