
.qbox textarea {
  height: 36px;
  width: 550px;
  border: 2px groove #333333;
}

.header {
  text-align: center ;
  border-bottom:  2px solid #CCC;
  margin-bottom: 10px;
  padding-top: 10px ;
  padding-bottom: 10px ;

}

.footer {
  margin-bottom: 30px;
  text-align: center ;
  background:#ddd;
}

.help {
  color: #AAA;
}

#nav{
  /*border:1px solid #ccc; */
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:4;
  text-align:center;
  text-decoration:none;
  background:#ddd;

}

#nav li{
  display:inline;
  text-decoration:none;
}
#nav a{
  text-decoration:none;
  display:inline-block;
  padding:30px;
  color:#416BA5;
  /*font-weight:bold;*/
  font-size:1.3em;
  padding-top: 0px ;
  padding-bottom: 0px ;
  /*background:#DDD;*/

}


#nav a:focus, #nav a:hover {color:#111;}



#link{

}
#link a{
  text-decoration:none;
  /*display:inline-block; */
  padding:0px;
  color:#416BA5;
  /*font-weight:bold;*/
  font-size:1.2em;
  padding-top: 0px ;
  padding-bottom: 0px ;
  /*background:#DDD;*/

}

#link a:focus, #link a:hover {color:#111;}



