.qbox textarea {
  height: 36px;
  width: 550px;
  border: 2px groove #333333;
}
                                                       
.header {
  border-bottom:  2px solid #666;
  margin-bottom: 1em;
}
                               
.footer {
  align: center ;
}

.help {
  color: #666;
}
