
.qbox textarea {
  height: 36px;
  width: 550px;
  border: 2px groove #333333;
}

.header {
  text-align: center ;
  border-bottom:  2px solid #CCC;
  margin-bottom: 10px;
  padding-top: 10px ;
  padding-bottom: 10px ;

}
<<<<<<< HEAD
=======

>>>>>>> master
.news {
 text-align: center;
 background: #B8E6B8;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-bottom: 10px;
}
<<<<<<< HEAD
=======

>>>>>>> master
.footer {
  margin-bottom: 30px;
  text-align: center ;
  background:#F1F1F1;
}

.help {
  color: #AAA;
}

.tail{
  text-align:center;
}

#nav{
  /*border:1px solid #ccc; */
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:4;
  text-align:center;
  text-decoration:none;
  background:#ddd;

}

#nav li{
  display:inline;
  text-decoration:none;
}
#nav a{
  text-decoration:none;
  display:inline-block;
  padding:30px;
  color:#416BA5;
  /*font-weight:bold;*/
  font-size:1.3em;
  padding-top: 0px ;
  padding-bottom: 0px ;
  /*background:#DDD;*/

}


#nav a:focus, #nav a:hover {color:#111;}



#link{

}
a{
  text-decoration:none;
  /*display:inline-block; */
  padding:0px;
  color:#416BA5;
  /*font-weight:bold;*/
  /*font-size:1.2em;*/
  padding-top: 0px ;
  padding-bottom: 0px ;
  /*background:#DDD;*/

}

link a:focus, #link a:hover {color:#111;}


code {
  color:#F93;
  font-weight: bold;
}
