.qbox textarea {
  height: 36px;
  width: 550px;
  border: 2px groove #333333;
}

.header {
  border-bottom:  2px solid #CCC;
  margin-bottom: 10px;
  padding-top: 10px ;
  padding-bottom: 10px ;
}

.footer {
  text-align: center ;
}

.help {
  color: #AAA;
}
